<section style="padding-left: 8px">
  <p class="tools">
    Root Name:
    <input [(ngModel)]="rootName" />
    <button style="margin-left: 8px" (click)="transform()">transform</button>
  </p>
</section>

<div id="textarea-box">
  <div class="input">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="inputEditorOptions"
      [(ngModel)]="inputValue"
    ></ngx-monaco-editor>
  </div>
  <div class="output">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="outputEditorOptions"
      [(ngModel)]="outputValue"
    ></ngx-monaco-editor>
  </div>
</div>
