<section style="padding-left: 8px">
  <p>
    Root Name:
    <input [(ngModel)]="rootName" />
    <button (click)="transform()" title="自动拷贝到粘贴板">transform</button>
    <label style="margin-left: 12px;">
      <input type="checkbox" [(ngModel)]="useSwagger"> Swagger
    </label>
  </p>
</section>

<div id="textarea-box">
  <div class="input">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="inputEditorOptions"
      [(ngModel)]="inputValue"
    ></ngx-monaco-editor>
  </div>
  <div class="output">
    <ngx-monaco-editor
      style="height: 100%"
      [options]="outputEditorOptions"
      [(ngModel)]="outputValue"
    ></ngx-monaco-editor>
  </div>
</div>
