/* You can add global styles to this file, and also import other style files */
html, body
  padding: 0;
  margin: 0;
  font-family: consolas;

.warn
  color: red;

.tools
  display: flex

textarea
  flex: 1;
  font-family: consolas;
  font-size: 1rem;

#textarea-box
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;